@import-normalize;

:root {
  --navbarBg: #11222b;
  --btnColor: #875c74;
  --main: #dfdfdf;
  --darker: #084f75;
}

/* --------------------*/
/* Fonts               */
/* --------------------*/

/*font-family: 'Poppins', sans-serif; */

/* --------------------*/
/* Reset               */
/* --------------------*/

/* https://piccalil.li/blog/a-modern-css-rest/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default font size - 1em = 16px - 2.1rem = 21px */

html,
#root,
body {
  height: 100%;
  /* width: 100%; */
}

/* No text decoration for a links */

a {
  text-decoration: none;
  color: inherit;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

.app-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-wrapper > main {
  flex: 1 0 auto;
}

/* Unset all navbar presets */
.navbar > .container {
  all: unset;
}

.btn {
  margin: 0;
}

/* Set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--main);
}

main {
  position: relative;
}

/*make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

.form div {
  margin-bottom: 0.85rem;
}

.form div:nth-last-child(2) {
  margin-bottom: 1.5rem;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Sticky footer */

body > footer {
  position: sticky;
  top: 100vh;
}

/* --------------------*/
/* Utility classes     */
/* --------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em; /*looking at inline access of container (left and right side, not top and bottom)*/
  margin-inline: auto;
  max-width: 80rem;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.active {
  border-bottom: 5px solid var(--btnColor);
}

/* --------------------*/
/* Scrollbar           */
/* --------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: #cccccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent
  );
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #1a2024;
} */

/* --------------------*/
/* General styling     */
/* --------------------*/

.ui.text.container {
  max-width: 100% !important;
}

.btn-primary,
.btn-primary:hover {
  background-color: var(--btnColor);
  border: 3px outset var(--btnColor);
}

.btn-primary:hover,
.btn-primary:active {
  opacity: 75%;
  background-color: var(--btnColor);
  border: 3px outset var(--btnColor);
}

.btn-primary:active {
  opacity: 75%;
  background-color: var(--btnColor);
  border: 3px outset var(--btnColor);
}

.btn-outline-secondary:hover {
  background-color: var(--btnColor);
  color: white;
}

@media only screen and (min-width: 767px) {
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .bizName,
  .slogan {
    padding-top: 2rem;
  }
}
