:root {
  --navbarBg: #11222b;
  --btnColor: #875c74;
  --main: #dfdfdf;
  --darker: #084f75;
  --profile: #648767;
  --profile2: #be7c4d;
}

.green {
  background-color: var(--profile);
}

.blue {
  background-color: var(--darker);
}

.pink {
  background-color: var(--btnColor);
}

.orange {
  background-color: var(--profile2);
}

.dashboardCont {
  display: flex;
  flex-direction: row;
}

.upcomingCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.upcomingMain {
  font-size: 2.3rem;
  font-weight: bold;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
  border: 2px outset var(--darker);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.9rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: var(--darker);
  color: white;
  box-shadow: 5px 10px 8px #888888;
}

.upcomingTitle {
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.3rem;
  color: white;
}

.upcomingDiv {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  overflow: auto;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 45%;
  height: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 10px 8px #888888;
}

.upcomingUl {
  padding: 0.3rem;
  max-height: 10rem;
}

.upcomingLi {
  list-style: none;
  padding: 0.5rem;
  margin: 0.3rem;
}
