/*  Footer Style Sheet */

footer {
  position: relative;
  top: 75%;
  background-color: var(--navbarBg);
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: unset;
  color: white;
  text-align: center;
  height: 3em;
}
