/* Landing Page Style Sheet */
img,
picture {
  max-width: 100%;
  display: block;
}

.hero {
  background-image: url(../images/calendar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100% !important;
  height: 100vh;
  margin: 0;
}

.hero.container.container {
  max-width: 100%;
}

.slogan {
  margin-top: 0 !important;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255, 0.4);
  text-align: center;
  max-width: 35rem;
  /* border-radius: 8px; */
}

.getStartedBtn {
  margin-left: 3rem !important;
  margin-top: 1em;
}

.landing-body {
  margin-left: 4em;
  margin-right: 4em;
}

.landing-text {
  margin-bottom: 1.5em;
}

.solid {
  border: 1px solid black;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.vl {
  border-left: 6px solid gray;
  height: 500px;
}
