#login-link {
  margin-left: 0.3rem;
}

#login-link:hover {
  color: var(--btnColor);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: var(--btnColor);
  border: 3px outset var(--btnColor);
}
