:root {
  --navbarBg: #11222b;
  --btnColor: #875c74;
  --main: #dfdfdf;
  --darker: #084f75;
  --profile: #648767;
  --profile2: #be7c4d;
}

/* #588157 */
/* #3d6b5c */

.profileCont {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.profile {
  width: 100%;
  background-color: rgb(199, 201, 202);
  box-shadow: 5px 10px 8px #888888;
  border: 5px outset gray;
  margin-top: 1rem;
  border-radius: 8px;
}

.connectionName {
  text-align: center;
  color: var(--main);
  background-color: var(--profile);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.contactTop {
  display: flex;
  flex-flow: row-wrap;
  width: 100%;
}

/* .profilePicCont {

} */

.mainDetails {
  margin-top: 3rem;
  margin-right: 4rem;
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
  width: 50%;
  background-color: rgb(199, 201, 202);
  box-shadow: 5px 10px 8px #888888;
  border: 5px inset gray;
  border-radius: 8px;
}

.sectionTitle {
  font-weight: bold;
  text-align: center;
  color: var(--main);
  /* margin-bottom: 1.5rem; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1rem;
  font-size: 1.9rem;
}

.green {
  background-color: var(--profile);
}

.blue {
  background-color: var(--darker);
}

.pink {
  background-color: var(--btnColor);
}

.orange {
  background-color: var(--profile2);
}

.btn-primary:focus {
  background-color: var(--btnColor);
  border: unset;
  box-shadow: unset;
  border: 3px outset var(--btnColor);
}

.profileContentUl {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  overflow: scroll;
  height: 80%;
}

.profileContentLi {
  list-style: none;
  font-style: italic;
  margin-top: 0.3rem;
}

.profilePicCont {
  left: 40rem;
}

.profilePictureGrad {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, var(--profile) 100%);
  height: 15.75rem;
  width: 15.75rem;
  margin-top: 1rem;
  margin-left: 1;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.profilePicture {
  position: absolute;
  border: 0.1875rem white solid;
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;
  height: 13.875rem;
  width: 13.875rem;
}

.contactMid {
  display: flex;
  flex-direction: row-wrap;
}

.demoDetails {
  width: 50%;
  background-color: rgb(199, 201, 202);
  box-shadow: 5px 10px 8px #888888;
  border: 5px inset gray;
  border-radius: 8px;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.remindersNotes {
  display: flex;
  box-shadow: 5px 10px 8px #888888;
  border: 5px inset gray;
  margin: 0 1rem;
}

/* Modal */
.modal-content {
  border: none;
}

.my-modal {
  width: 40vw; /* Occupy the 90% of the screen width */
  max-width: 40vw;
}
