:root {
  --navbarBg: #11222b;
  --btnColor: #875c74;
  --main: #dfdfdf;
  --darker: #084f75;
  --profile: #648767;
  --profile2: #be7c4d;
}

/* #588157 */
/* #3d6b5c */

.profileCont {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.profile {
  width: 100%;
  background-color: rgb(199, 201, 202);
  box-shadow: 5px 10px 8px #888888;
  border: 5px outset gray;
  margin-top: 1rem;
  border-radius: 8px;
}

.nameEditWrapper {
  color: var(--main);
  background-color: var(--profile);
  height: 5rem;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.connectionName {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 27rem;
}

.cardsCont {
  display: flex;
  flex-flow: row-wrap;
}

.sectionTitle {
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.3rem;
  color: white;
}

.green {
  background-color: var(--profile);
}

.blue {
  background-color: var(--darker);
}

.pink {
  background-color: var(--btnColor);
}

.orange {
  background-color: var(--profile2);
}

.btn-primary:focus {
  background-color: var(--btnColor);
  border: unset;
  box-shadow: unset;
  border: 3px outset var(--btnColor);
}

.profileContentUl {
  height: 200px;
  padding-top: 1rem;
  overflow-y: scroll;
}

.profileContentLi {
  list-style: none;
  margin-bottom: 0.5rem;
}

.remindersNotes {
  display: flex;
  box-shadow: 5px 10px 8px #888888;
  border: 5px inset gray;
  margin: 1rem;
  padding: 2rem;
}

.cardWrapperBottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Modal */
.modal-content {
  border: none;
}

.my-modal {
  width: 40vw; /* Occupy the 90% of the screen width */
  max-width: 40vw;
}
