:root {
  --navbarBg: #11222b;
  --btnColor: #875c74;
  --main: #dfdfdf;
  --darker: #084f75;
  --profile: #648767;
  --profile2: #be7c4d;
}

.green {
  background-color: var(--profile);
}

.blue {
  background-color: var(--darker);
}

.pink {
  background-color: var(--btnColor);
}

.orange {
  background-color: var(--profile2);
}

.remindersCont,
.notesCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 8px;
}

.remindersHead {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

.remindersTitle {
  font-size: 1.9rem;
  margin-right: 13rem;
}

.btn-secondary {
  margin-right: 1rem !important;
  background-color: var(--darker);
  border: 3px outset var(--darker);
}

.btn-secondary:hover,
.btn-secondary:active {
  opacity: 75%;
  background-color: var(--darker);
  border: 3px outset var(--darker);
}
